@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Movies</h2>
<br/>
<br/>
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

@section scripts 
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });

        });
    </script>
}